

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
.input-line {
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 8px 12px 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}
#myInput {
  width: 100%;
}

/* The search field when it gets focus/clicked on */
.input-line:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 28px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100%;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  display: block;

}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}


