<nav class="nav-bar">
    <div class="container">
        <div class="menu">
            <a href="/sales/" class="menu__el {% if active == 'sales' %}menu__el_active{% endif %}">Продажи</a>
            <a href="/services/" class="menu__el {% if active == 'services' %}menu__el_active{% endif %}">Услуги</a>
            <a href="/clients/" class="menu__el {% if active == 'clients' %}menu__el_active{% endif %}">Клиенты</a>
            <a href="/statistics/" class="menu__el {% if active == 'statistics' %}menu__el_active{% endif %}">Статистика</a>
        </div>
    </div>
</nav>